modules = ["python-3.10:v18-20230807-322e88b"]
run = "python CodingTest/Greedy/큰수의법칙.py"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"
